@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

#wrapper {
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#ui {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}
